extends layout

block content
  header.w3-container.w3-top.w3-hide-large.w3-red.w3-xlarge.w3-padding
    a.w3-button.w3-red.w3-margin-right(href='javascript:void(0)', onclick='toggleSidebar()') &#x2630;
    span PROBUM

  // !PAGE CONTENT!
  .w3-main#main-content(style='margin-left:40px;margin-right:40px')
    // Header
    #showcase.w3-container(style='margin-top:80px')
      h1.w3-jumbo
        b PROBUM

      // Error message details
      h2 Error #{error.status}
      p= message

      // Button to go to the home page
      a.w3-button.w3-border(href='/') Go to Home Page

  // W3.CSS Container
  .w3-light-grey.w3-container.w3-padding-32.footer(style='margin-top:75px;padding-right:58px')
    p.w3-right
